.page-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  overflow-wrap: break-word;
}
.code-text {
  font-family: "Courier New", Courier, monospace;
}
.o-list {
  margin: 20px;
  padding: 4px;
  padding-left: 20px;
}
.header {
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 20px;
}

.top-bottom-margins {
  margin-top: 20px;
  margin-bottom: 20px;
}
.top-bottom-margins-lg {
  margin-top: 30px;
  margin-bottom: 30px;
}

.score {
  font-size: 1em;
  font-weight: bold;
}

/*  RANGE SLIDER */
.range-wrap {
  position: relative;
  /* margin: 0 auto 3rem; */
}
.range {
  cursor: pointer;
  width: 100%;
}
.bubble {
  background: #003366;
  color: white;
  padding: 4px 12px;
  position: absolute;
  border-radius: 4px;
  left: 50%;
  transform: translateX(-50%);
}
.bubble::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 2px;
  background: #003366;
  top: -1px;
  left: 50%;
}
.span-btn {
  color: #003366;
  font-weight: 600;
  cursor: pointer;
}
.statement-viewer-font {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 600;
    font-size: 1.2rem; 
}

/* queries */
h1 {
  font-size: 3.9vw !important;
}
h2 {
  font-size: 3vh !important;
}
p {
  font-size: 2vmin;
}
.pre{
  max-height: 90vh;
  font-size:12px;
  white-space: pre-wrap;
  overflow-y: auto;
  display: inline-block;
  min-width: 100%;
  overflow-wrap: break-word;
  margin-right: 10px;
}
#drawer-body-content{
  padding-left: 12px !important;
  padding-right: 2px !important;
  margin-bottom: 20px;
}
#small-next-button{
  display: none;
}

/* Extra small devices (phones, 768px and down) */
@media only screen and (max-width: 768px) {
  p {
    font-size: 3.6vmin;
  }
  .pre{
    font-size: 10px;
  }
  #page-counter{
    display: none !important;
  }
  #large-next-button{
    display: none;
  }
  #small-next-button{
    display: block;
  }
  #nav-container{
    bottom: 1%;
    right: 1%;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  h1 {
    font-size: 1.8rem !important;
  }
  p {    
    font-size: 2.2vmin;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
/* @media only screen and (min-width: 992px) {
} */

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1024px) {
  h1 {
    font-size: 2.4rem !important;
  }
  p {
    font-size: 1.2rem;
  }
}

@media (prefers-color-scheme: dark) {
  #drawer-4-header p {
    color: #E2E8F0;
  }
  #drawer-4-body p {
    color: #E2E8F0;
  }
}
.drawer-text-p p {
  color: #E2E8F0;
}

input[type=checkbox] {
  width: 1.5rem;
  height: 1.5rem;
}
input[type=radio] {
  width: 1.5rem;
  height: 1.5rem;
}

textarea {
  width: 100%;
  height: 5rem;
  /* color: black !important; */
  font-size: 1.5rem !important;
  margin-top: 1rem !important;
  padding: .5rem !important;
}
@media (prefers-color-scheme: dark) {
  textarea {
    /* color: black !important; */
    background-color: rgba(255,255,255,0.06);
    
  }
  textarea:hover {
    border-color:rgba(255,255,255,0.08);
  }
}
label {
  font-size: 1.5rem;
}
.radio-container {
  display: flex;
  align-items: center;
} 
#container1, #cont3{
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 120px;
}

.app-container {
  display: flex;
  width: 100%;
  height: 6rem;
  margin: 1.5rem;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.562);
}

.drag-container {
  /* display: table-cell; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  /* background-color: tomato; */
  min-width: 50%;
  /* height: 100%; */
}

.drop-container {
  /* display: table-cell; */
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  /* background-color:thistle; */
  min-width: 50%;
  /* height: 100%; */
}

.drag-element, .drop-element {
  width: 12rem;
  text-align: center;
}
.drag-element {
  background-color: #2699FB;
  /* color: blueviolet; */
  /* margin: 10px; */
}

.drop-element {
  background-color: #E2E8F0;
  color: rgb(161, 161, 161);
  /* margin: 10px; */
}
.performance-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 6rem;
  margin: 1.5rem;
  background-color: rgba(255, 255, 255, 0.747);
}

.crossCenter{
  background-color: #333333;
  width: 35px;
  height: 35px;
  /* margin-top: 110px;
  margin-left: 100px;
  position: relative; */
}
.crossTop{
  background-color: #333333;
  width: 35px;
  height: 35px;
  position: absolute;
  border-radius: 15%;
  margin-top: -30px;
  cursor: pointer;
}

.crossBottom{
  background-color: #333333;
  width: 35px;
  height: 35px;
  position: absolute;
  border-radius: 15%;
  margin-top: 30px;
  cursor: pointer;
}

.crossLeft{

  background-color: #333333;
  width: 35px;
  height: 35px;
  position: absolute;
  border-radius: 15%;
  margin-left: -30px;
  cursor: pointer;
}

.crossRight{
  background-color: #333333;
  width: 35px;
  height: 35px;
  position: absolute;
  border-radius: 15%;
  margin-left: 30px;
  cursor: pointer;
}
.crossTop:hover {
  background-color: #333333cb;
}
.crossBottom:hover {
  background-color: #333333cb;
}
.crossLeft:hover {
  background-color: #333333cb;
}

.crossRight:hover {
  background-color: #333333cb;
}


.crossCircle{
  background-color: #292929;
  width: 25px;
  height: 25px;
  position: absolute;
  border-radius: 100%;
  margin-top: 5px;
  margin-left: 5px;
}
.controllerLeft{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 250px;
  border-radius: 100%;
}
